label { 
  font-weight: bold;
}
.form-control:focus {
  border-color: #3f7cd5!important;
  box-shadow: 0 0 0 0.2rem rgba(65, 165, 238, 1)!important;
} 

.title {
  margin-bottom: 50px;
  color: #636363;
}
.input-group{
  margin-bottom: 50px!important;
}
label {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.input-group-prepend { 
  background-color:#3f7cd5!important ;
  color: white;
}
#costumFile {
  background-color: #3f7cd5!important;
  color: white;
}
.logo-etab{
  width: 155px;
  height: 130px;
  border: 2px solid #3f7cd5;
  display: block;
  margin: 10px;
}

.logo-input{
  display: none;
}